@import url('./Variables.css');
#inicio{
	position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    overflow: hidden;
    .contenido{
	    width: 50%;
	    z-index: 2;
	}
    h5{
    	display: flex;
    	align-items: center;
    	gap: 1vw;	
	    width: fit-content;
	    color: var(--texto-w);
	    padding: 20px 5px;
	    font-size: clamp(15px, 2vw, 2vh);
	    font-weight: 10;
	}
	.estado{
	    width: 15px;
	    height: 15px;
	    background-color: var(--c-estado);
	    border-radius: 80%;
	    position: relative;
	    flex-shrink: 0;
	}
	.estado::after{
	    content: "";
	    position: absolute;
	    inset: -6px;
	    background: var(--c-estado);
	    border-radius: 80%;
	    filter: blur(8px);
	    z-index: -1;
	}
	h2{
		width: fit-content;
	    color: var(--texto-g);
	    font-size: clamp(20px, 3vw, 50vh);
	    font-weight: 600;
	    padding: 25px 0 25px 0;
	}
	h1{
		width: fit-content;
	    color: var(--texto-w);
	    font-size: clamp(50px, 8vw, 100vh);
	}
	table{
		width: fit-content;
	    margin-top: 20px;
	    border-spacing: 0 2vh;
	    color: var(--texto-w);
	    font-size: clamp(16px, 2vw, 3vh);
	}
	i{
	    color: var(--texto-w);
	    width: 28px;
	    text-align: center;
	    margin-right: 3vh;
	}
	.logo{
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    width: 45vw;
	    height: 100vh;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    pointer-events: none;
	    z-index: -1;
	}
	.logo img{
	    max-height: 100%;
	    width: auto;
	}
}

#acerca{
	position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
    overflow: hidden;
    padding-top: 5px;
	padding-bottom: 150px;
	h2{
		width: fit-content;
	    color: var(--texto-g);
	    font-size: var(--font-h2); 
		padding-top: 1vh;
	}
	ul {
		color: var(--texto-w);
	}
	p{
		color: var(--texto-w);
		text-align: left;
		font-size: var(--font-p);
		line-height: 1.6;
		margin: 10px 25% 10px 0px;
		padding-bottom: 2vh;
	}
	h3{
		color: var(--texto-g);
		font-size: var(--font-h3);
		padding-bottom: 2vh;
	}
	h4{
		color: var(--texto-w);
		padding-top: 10px;
		padding-bottom: 5px;
		font-size: clamp(16px, 2vw, 3vh);
		padding-bottom: 2vh;
		padding-top: 2vh;
	}
	.AcercaDesc{
		color: var(--texto-g);
		padding-bottom: 5px;
	}
}

#proyectos{
    min-height: 100vh;
    overflow: hidden;
	padding-bottom: 180px;
	h2{
		padding-left: 12%;
		width: fit-content;
	    color: var(--texto-g);
	    font-size: var(--font-h2); 
	}
	.galeriaP{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5vw;
		text-align: center;
	}
	.galeriaP article{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 25vw;
		height: 90vh;
		margin: 2vh; 
		padding: 2vh;
		background-color: var(--bg-galeria);
	    border-radius: 15px;
	    color: var(--texto-w);  
	}
	.proy1{
		object-fit: contain;
		width: 12vw;
		height: 25vh;
		display: block;
		border-radius: 10px;
		padding-bottom: 2vh;
	}
	.proy2{
		object-fit: contain;
		width: 20vw;
		height: 25vh;
		display: block;
		border-radius: 10px;
		padding-bottom: 2vh;
	}
	h3{
		color: var(--texto-g);
		font-size: var(--font-h3);
		padding-bottom: 2vh;
	}
	p{
		color: var(--texto-w);
		font-size: var(--font-p);
	}
	h4{
		color: var(--texto-w);
		font-size: clamp(17px, 2vw, 3vh);
		padding-top: 10px;
		padding-bottom: 10px;
	}
	span{
		color: var(--texto-w);
		font-size: var(--font-span);
	}
	.btns{
		padding-top: 1vh;
	}
	a{
		text-decoration: none;
		font-size: var(--font-a);
    	color: var(--texto-w);
    	display: block;
        margin-top: 5px;
    	padding: 1vh 1vw;
	   	border-radius: 8px;
	   	border: 2px solid var(--texto-w);
	}
}

#habilidades{
	position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
    overflow: hidden;
	padding-top: 5px;
	padding-bottom: 150px;
	h2{
		width: fit-content;
	    color: var(--texto-g);
	    font-size: var(--font-h2); 
		padding-bottom: 15px;
	}
	h3{
		width: fit-content;
	    color: var(--texto-g);
	    font-size: var(--font-h3);
		padding-bottom: 8px;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5%;
		list-style: none;
		color: var(--texto-w);
		padding: 30px 10px 30px;
	}
	li{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.fondohabi1{
		top: 5%;
		left: 50%;
		width: clamp(10px, 8vw, 120px);
		height: clamp(100px, 8vw, 120px);

		background: transparent;
		border-radius: 70%;
		transform: translateX(-50%);
		position: absolute;
		flex-shrink: 0;
	}
	.fondohabi1::after{
	    content: "";
		position: absolute;
		inset: -100%;        
        background: radial-gradient(
        ellipse at center,
        rgba(0, 75, 220, 0.55) 0%, 
        rgba(0, 68, 204, 0.38) 35%, 
        rgba(0, 50, 160, 0.18) 60%,  
        transparent 80%
    );
		border-radius: 50%;
		filter: blur(25px);
		z-index: -1;
	}
	img{
		width: clamp(110px, 10vw, 140px);
		height: clamp(110px, 10vw, 140px);
        object-fit: contain;
	    position: relative;
	    z-index: 1;
	}
	p{
		text-align: center;
		font-size: var(--font-p);
		margin: 20px 5px 10px 5px;
	}
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: var(--font-span);
	}
}

#contacto{
	min-height: 75vh;
    padding-left: 12%;
    padding-right: 12%;
    overflow: hidden;
	h2{
		width: fit-content;
	    color: var(--texto-g);
	    font-size: var(--font-h2); 
		padding-bottom: 15px;
	}
	p{
		color: var(--texto-w);
		text-align: left;
		font-size: var(--font-p);
		line-height: 1.5;
	}
	.ColumnaD, .ColumnaI{
		display: inline-block;
		vertical-align: top; 
		margin: 35px;
		margin-bottom: 1vh;
		text-align: left;
	}
	form{
		text-align: center;
		label{
			color: var(--texto-w);
			font-size: var(--font-label);
		}
		input{
			margin-top: 10px;
			font-size: var(--font-forms);
			height: 5vh;
			width: 30vw;
		}
		select{
			margin-top: 10px;
			font-size: var(--font-forms);
			height: 5vh;
			width: 30vw;
		}
		textarea{
			margin-top: 10px;
			font-size: var(--font-forms);
			height: 16.5vh;
			width: 30vw;
		}
		input[type="submit"]{
			width: 100%;
			background-color: var(--texto-g);
			border-radius: 5px;
			border: none;
			display: block;
			margin: 12px auto 0;
		}
	}
	.BtnCont{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	a{
		font-size: var(--font-a);
		background-color: transparent;
		color: var(--texto-w);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 30vw;
		border-radius: 5px;
		border: 2px solid var(--texto-w);
		text-decoration: none;
	}
}

/*Responsive Celular*/

@media (max-width: 767px) {

    #inicio {
        min-height: 100vh;
        padding: 0 5%;
        justify-content: center;

        .contenido {
	        width: 100%;
	        position: relative;
	        z-index: 2;
    	}

 		i {
	        width: 25px;
	        margin-right: 10px;
    	}

    	.logo {
	        width: 100%;
	        height: 100%;	   
	        bottom: 0;
	        opacity: 0.25;
	        z-index: -1;
    	}
    }

    #acerca {
        min-height: auto;
        padding: 50px 8%;               
    	p {	        
	        margin: 10px 0;
	        padding-bottom: 15px;	        
    	}
    }

    #habilidades {
        min-height: auto;
        padding: 50px 8%;
        ul {
        	/*Convertir a 2 columnas con 1 fraccion del espacio disponible*/
	        display: grid;
	        grid-template-columns: repeat(2, 1fr);
	        gap: 35px 20px;
    	}
    }

    #contacto {
        min-height: auto;
        padding: 50px 8% 50px;        
        .ColumnaD, .ColumnaI {	
	        display: block;  
	        margin: 0;
	        text-align: left;
	    }
        form {
        	input, select, textarea{
        		width: 100%;
        	}
        	input, select, input[type="submit"]{
        		height: 45px;
        	}
        	textarea{
		        height: 150px;
		    }
		    margin-top: 25px;
		    margin-bottom: 25px;
        }
    }

    #proyectos {
        min-height: auto;
        padding-top: 50px;
        h2 {
        	padding-left: 8%;
    	}
    	.galeriaP {
    		/*Poner tarjetas abajo de otras*/
        	flex-direction: column;
	        gap: 10px;
	        padding: 15px 8%;
			article {
		        width: 100%;
		        height: auto;
		        margin: 0;
		        padding: 20px 20px;
		        box-sizing: border-box;
		    }
	    }
	    .proy1, .proy2 {
	        width: 100%;
	        height: 180px;	        	       
	    }
    }
}