@import url('Variables.css');

body{
    background-color: var(--bg-color);
}

header {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 10%;
    padding: 1vh 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--texto-w);
    border: 1px solid var(--texto-w); 
    border-radius: 100px; 
    padding:  2vh 0; 
    display: inline-flex; 
    width: clamp(140px, 10vw, 12vw); 
    font-size: var(--font-a);
    align-items: center; 
    justify-content: center;
    gap: 1vw;

    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
} 

nav a:hover {
    background-color: var(--texto-w);
    color: var(--bg-color);
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--texto-w);
}

/*Responsive Celular*/

@media (max-width: 767px) {
    header {
        bottom: 0;
        width: 100%;
        max-height: none;
        box-sizing: border-box;
    }
    nav a {
        width: auto;
        flex: 1;
        padding: 10px 10px;
        font-size: 10px;       
    }

}

/*Responsive para zoom de 500*/

@media (max-width: 450px) {
    nav a {
        padding: 5px 2px;
        font-size: 8px;
    }
}

