@import url('Variables.css');

body{
    background-color: var(--bg-color);
}

header {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 20%;
    padding: 1vh 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    max-width: 100%;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--texto-w);
    border: 2px solid var(--texto-w); 
    border-radius: 100px; 
    padding:  2vh 0; 
    display: inline-flex; 
    width: clamp(200px, 10vw, 12vw); 
    font-size: clamp(13px, 1.2vw, 2vw);
    align-items: center; 
    justify-content: center;
    gap: 1vw;

    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
} 

nav a:hover {
    background-color: var(--texto-w);
    color: var(--bg-color);
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--texto-w);
}

