@import url('Variables.css');
#proyecto{
	padding-top: 50px;
	padding-bottom: 150px;
	h1{
		color: var(--texto-g);
		font-size: 70px;
		text-align: center;
	}
	p{
		color: var(--texto-w);
		font-size: 20px;
		text-align: center;
		margin: 25px 150px 10px 150px;
	}
	h3{
		color: var(--texto-g);
		font-size: 30px;
		text-align: left;
		margin: 25px 150px 10px 150px;
		padding-bottom: 120px;
	}
	div	{
		text-align: center;
	}
	div span{
		display: inline-block;
		margin: 0 100px;
		color: var(--texto-w);
	}
	a{
		background-color: transparent;
		color: var(--texto-w);
		display: inline-block;
		text-align: center;
		width: 150px;
		height: 30px;
		border-radius: 5px;
		border: 2px solid var(--texto-w);
		text-decoration: none;
		line-height: 30px;
	}
}

#galeria{
	padding-bottom: 150px;
	h2{
		font-size: 70px;
		text-align: center;
		color: var(--texto-g);
		padding-bottom: 30px;
	}
	.galeriaP{
		text-align: center;
	}
	.galeriaP article{
		display: inline-block;
		margin: 5px;
		vertical-align: top;
	}
	article{
		width: 300px;
		height: 400px;
		margin: 10px; 
		padding: 10px ;
		background-color: var(--T-galeria);
	    border-radius: 15px;
	    color: var(--texto-w);
	    text-align: center;
	}
	img{
		display: block;
		margin: 0 auto;
		border-radius: 10px;
	}
}

#detalles{
	padding-top: 20px;
	padding-bottom: 150px;
	h2{
		color: var(--texto-g);
		font-size: 70px;
		text-align: center;
	}
	ul{
		color: var(--texto-w);
		font-size: 20px;
		text-align: center;
		list-style: none;
		margin: 25px 150px 10px 150px;
	}
}